body
{
	background: #ffffff;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	position: relative;
}
.topNav
{
	position: fixed;
	top: 0;
	height: 55px;
	background-color:#ffffff;
	z-index: 3;
	width: 100%
}
.topNav li
{
  	font-size: 20;
    float: left;
    display: block;
    padding: 0.2em 0.2em;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

.topNav li.active a
{
	background: #666666;
    padding: 0.4em 0.5em;
	color: #ffffff;
	text-decoration: none;
}

.topNav a
{
	letter-spacing: 0.04em;
	text-decoration: none;
	color: black;
    padding: 0.4em 0.5em;	
}

.topNav	a:hover
{
	background: #666666;
    padding: 0.4em 0.5em;
	color: #ffffff;
	text-decoration: none;
}


.slide
{	
    position: relative;
    padding: 50px 0;
    text-align: center;
}

#mainpart
{
	width: 100%;
	text-align: center;
	position: relative;	
}

#slide1
{
	background-color:#ffffff;
    height: 750;
    text-align: left;
    width: 1500;
}

#slide2
{
    background-color:#ffffff;
    height: auto;
    text-align: center;
    width: 100%;
    margin: 0;
}

#slide3
{
    height: 360;
    background-image:url('../immagini/sfondo07.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
}

#slide4
{
    background-color:#ffffff;
    height: auto;
    width: 100%;
}

video#bgvid { 
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(immagini/video.jpg) no-repeat;
background-size: cover; 
z-index: 0;
}

#Titolo
{
	width: 1500;
	position: absolute;
	text-align: center;
}

#box
{
	width: 1500;
	height: auto;
	margin-left: 170px;
	margin-top: 300px;
}

#Box1,
#Box2,
#Box3
{	
	width: 25%;
	height: 20%;
	border: 1px solid black;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	margin: 10px;
	padding-top: 4em;
	position: relative;
	float: left;
	text-align: center;
	
}

#Box1 a,
#Box2 a,
#Box3 a
{
	text-decoration: none;
	color: white;
}

#Box1 a: hover
{
	color: white;
	text-decoration: none;
	display: block;
}

#Box1
{		
	background-image: url('../immagini/b_viaggi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


#Box2
{
	background-image: url('../immagini/Comple.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#Box3
{
	background-image: url('../immagini/b_disegni.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#blog
{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20;
	text-align: left;
	width: 1450;
}
#ps
{
	float: left;
	width: 66%;
	margin-right: 20;
	
}

#ps1
{
	font-size: 20;
	padding: 10 30 10 30;
	text-align: justify;
	background-color:rgba(255,215,215,0.5);
	border-radius: 10px;
}

#ps1-0
{
	color: black;
}

#altro
{
	font-size: 20;
	padding: 0 40 0 0;
	text-align: justify;
}

#ps2
{
	font-size: 20;
	padding: 10 30 10 30;
	text-align: justify;
	background-color:rgba(198,231,255,0.5);
	border-radius: 10px;
}


#pd
{
	float: left;
	width: 32%;
}

#pd1,
#pd2
{
	font-size: 15;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5 10 5 10;
	text-align: justify;

}


	
#copyright
	{
		padding: 1.5em 0em;
		font-family: 'Raleway', sans-serif;
		position: relative;
		text-align: center;
	}
		#copyright a
		{
			color: white;
		}
						
		#copyright img:hover
		{
		 background-color:#999dae;
		 border-radius: 25px;
		}

