body
{
	background: #ffffff;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#mainPart
{
	width: 1500;
	height: auto;
	text-align: center;
	margin: auto;
}
.topNav
{
	position: fixed;
	top: 0;
	height: 55px;
	background-color:#ffffff;
	z-index: 3;
	width: 1500;
}
.topNav li
{
  	font-size: 20;
    float: left;
    display: block;
    padding: 0.2em 0.2em;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}
.topNav a
{
	letter-spacing: 0.04em;
	text-decoration: none;
	color: black;
    padding: 0.4em 0.5em;	
}

.topNav	a:hover
{
	background: #666666;
    padding: 0.4em 0.5em;
	color: #ffffff;
	text-decoration: none;
}


.slide
{	
    position: relative;
    padding: 50px 0;
    text-align: center;
}

#mainpart
{
	width: 1500;
	text-align: center;
}

#slide1
{
	background-color:#ffffff;
    height: 750;
    text-align: left;
    width: 100%
}

#slide2
{
    background-color:#ffffff;
    height: 200;
    text-align: center;
}

#slide3
{
    height: 360;
    background-image:url('immagini/sfondo07.jpg');
    background-color:#fff;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

#slide4
{
    background-color:#ffffff;
    height: auto;
}

video#bgvid { 
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(immagini/video.jpg) no-repeat;
background-size: cover; 
z-index: 0;
}

#Titolo
{
	width: 1500;
}

#Titolo h1
{
	color: #fffdfd;
	position: relative;
	text-align: center;
}


#box
{
	width: 1500;
	height: auto;
	margin-left: 170px
	
}

#Box1,
#Box2,
#Box3,
#Box4
{	
	width: 17%;
	height: 17%;
	border: 1px solid black;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	margin: 10px;
	padding-top: 4em;
	position: relative;
	float: left;
	text-align: center;
	
}
	
#Box1
{		
	background-image: url('immagini/b_viaggi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#Box1 a,
#Box2 a,
#Box3 a,
#Box4 a
{
	text-decoration: none;
	color: white;
}

#Box1 a: hover
{
	color: white;
	text-decoration: none;
	display: block;
}

#Box2
{
	background-image: url('immagini/b_frasi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#Box3
{
	background-image: url('immagini/Comple.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#Box4
{
	background-image: url('immagini/b_disegni.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#boox
{
	width:1500;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	margin-left: 50px;
	font-size: 20;
}


	
#copyright
	{
		padding: 1.5em 0em;
		font-family: 'Raleway', sans-serif;
		position: relative;
		text-align: center;
	}
		#copyright a
		{
			color: white;
		}
						
		#copyright img:hover
		{
		 background-color:#999dae;
		 border-radius: 25px;
		}

